{% extends "base.html" %}
{# Load the tag library #}
{% load static %}
{% load bootstrap4 %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Semilleros</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Semilleros</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Semillero de Investigación en Inteligencia Artificial - SIA</h2>
            <h3><b>Directora:</b> Ing. Mery Janeth Sarmiento. <br>
              <b>Líderes:</b> Brayan Guerrero, Andrés Silva, William Villamil. <br>
              <b>Reuniones:</b> Viernes 3:00 PM. <br>
              <b>Lugar:</b> Sala SA 402 - Edificio Aulas Sur - UFPS.
            </h3>      
            <br>      
            <center>
            <img src="{% static 'img/logo-sia.png' %}" class="img-fluid" alt="">
            </center>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              <b>Vision:</b> SIA será un Semillero de Investigación reconocido a nivel nacional e internacional por 
                su compromiso con la formación de estudiantes en Investigación y por los resultados de los proyectos 
                desarrollados en el área de Inteligencia Artificial, presentados en eventos académicos locales, 
                nacionales e internacionales. 
              <br>
              <br>
              <b>Objetivos:</b>            
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Motivar a los miembros del SIA a desarrollar  proyectos de investigación personales o en convocatorias para adquirir destreza en los procesos de investigación.</li>
              <li><i class="ri-check-double-line"></i> Fortalecer en los miembros del SIA los conocimientos en el área de  Inteligencia Artificial.</li>
              <li><i class="ri-check-double-line"></i> Instruir a los miembros del SIA en toda actividad referente a la investigación tales como consulta de información científica, participación en eventos regionales y nacionales, entre otras.</li>
            </ul>
            
            <p class="fst-italic">

              SIA busca formar a los miembros del SIA en una cultura investigativa, para que reconozcan la importancia de la investigación e innovación en el desarrollo personal, institucional, regional y nacional, enmarcado en el área de la  Inteligencia Artificial.
            <!--   
              La inteligencia artificial es una herramienta fundamental para la toma de desiciones inteligentes en las organizaciones, 
              mejorando sus procesos, automatizando tareas, analizando grandes cantidades de datos y obteniendo ventajas competitivas.
              
            -->
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

     <!-- ======= Features Section ======= -->
     <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Líneas de investigación</h2>
          <p>SIA es un Semillero de Investigación conformado por un conjunto de estudiantes y profesores de la 
            Universidad Francisco de Paula Santander, donde se reflexiona y se construye conocimientos en el 
            área de la Inteligencia Artificial.
            </p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="bi bi-cpu" style="color: #ffbb2c;"></i>
              <h3><a href="">Inteligencia computacional</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-robot" style="color: #5578ff;"></i>
              <h3><a href="">Sistemas complejos</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-chat-left-text" style="color: #e80368;"></i>
              <h3><a href="">Desarrollo de ChatBots</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-badge-vr" style="color: #e361ff;"></i>
              <h3><a href="">Asistentes virtuales</a></h3>
            </div>
          </div>          

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2><strong>Proyectos</strong></h2>
          <p>SIA es un espacio para la formación de sus miembros en el campo de la investigación, con el fin de fortalecer 
            el programa de Ingeniería de Sistemas de la UFPS en su propósito de formación con un nivel de alta calidad. </p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="{% static 'assets/img/semilleros/twiter.png' %}" class="testimonial-img" alt="">
              <h3>Sistema de clasificación</h3>              
              <p>                
                Clasificación de Tweets del Ministerio de salud colombiano sobre el Covid-19 usando IBM Cloud.                             
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/exoesqueleto.png' %}" class="testimonial-img" alt="">
              <h3>Exoesqueletos</h3>              
              <p>                
                Realizar un estudio y análisis documental sobre los exoesqueletos en los últimos 6 años.  
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item mt-4 mt-lg-0">
              <img src="{% static 'assets/img/semilleros/chatbot.jpg' %}"  class="testimonial-img" alt="">
              <h3>Chatbot para atención al cliente</h3>              
              <p>                
                Diseño, desarrollo e integración de un chatbot en organizaciones para la mejora en la atención al 
                cliente usando inteligencia artificial como servicio en la nube.
              </p>
            </div>
          </div>
          

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/mamografia.png' %}" class="testimonial-img" alt="">
              <h3>Mamogramas digitales</h3>              
              <p>                
                Sistema de tratamiento de imágenes para la extracción de características sobre regiones de interés en mamogramas digitales.
              </p>
            </div>
          </div>

          

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/rostro.jpg' %}" class="testimonial-img" alt="">
              <h3>Reconocimiento facial</h3>              
              <p>                
                Sistema de reconocimiento facial para el control de acceso del personal a los laboratorios de investigación.                
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/neurona-espejo.jpg' %}" class="testimonial-img" alt="">
              <h3>Neuronas Espejo</h3>              
              <p>                
                Realizar un estudio y análisis documental sobre las neuronas espejo en los últimos 5 años.
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/cancer-mama.jpg' %}" class="testimonial-img" alt="">
              <h3>Detección cancer de mama</h3>              
              <p>                
                Estudio de herramientas de uso libre  para el procesamiento de imágenes mamográficas digitales en la detección del cáncer de mama.
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/afectiva.jpg' %}" class="testimonial-img" alt="">
              <h3>Computación afectiva</h3>              
              <p>                
                Realizar un estudio y análisis de las herramientas para la computación afectiva.
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <img src="{% static 'assets/img/semilleros/pulmonia.jpg' %}" class="testimonial-img" alt="">
              <h3>Detección de neumonía</h3>              
              <p>                
                Sistema de redes neuronales convolucionales para la detección de neumonía.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->
       

  {% endblock %}