{% extends "base.html" %}
{# Load the tag library #}
{% load static %}
{% load bootstrap4 %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Investigadores</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Investigadores</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2><strong>Investigadores</strong></h2>
          <p>
            GIA cuanta con profesionales especialidos en inteligencia artificial, doctores, magisters e ingenieros, 
            reconocidos por el sistema nacional de ciencia y tecnologia.
          </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/gladyz-espinel.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001083546" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.es/citations?user=SF8O3JsAAAAJ&hl=es" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Gladys-Adriana-Espinel-Rubio" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0002-8796-9257" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gladyz Adriana Espinel Rubio, Ph.D.(c)</h4>
                <span>Investigadora Asociada</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/marlen-fonseca.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com/citations?user=z2g0BjoAAAAJ&hl" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/scientific-contributions/Marlen-Del-Socorro-Fonseca-Vigoya-2190821231" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="#" target=""><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Marlen del Socorro Fonseca Vigoya, Ph.D.</h4>
                <span>Investigadora Asociada</span>
              </div>
            </div>
          </div>          

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/gissel-gutierrez.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001352278" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href=""><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Ana_Gutierrez80" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0002-8507-5444" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ana Gissele Gutiérrez Buitrago, Ph.D. (c)</h4>
                <span>Investigadora Reconocida</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/mery-sarmiento.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000221090" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href=""><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href=""><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href=""><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mery Yanet Sarmiento Saavedra, M.Sc. (c) </h4>
                <span>Directora del semillero de investigación SIA</span>
                <span>Investigadora Reconocida</span>
              </div>
            </div>
          </div>          

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/eduard-puerto.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000282952" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?user=nrGxjq4AAAAJ&hl=es" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Eduard-Puerto" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0001-9361-5837" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Eduard Gilberto Puerto Cuadros, Ph.D.</h4>
                <span>Director División de Biblioteca</span>
                <span>Investigador Junior</span>                
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/team/boris-perez.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000615609" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?user=6lV6bTsAAAAJ&hl=es" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Boris-Perez-6" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0001-9249-1756" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Boris Rainiero Pérez Gutiérrez, Ph.D.</h4>
                <span>Investigador Junior</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/matias-herrera.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001087509" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?hl=es&user=_GZ7b8MAAAAJ" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Matias-Herrera-Caceres-2" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0002-3409-1364" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Matias Herrera Cáceres, Ph.D.</h4>                
                <span>Director del Semillero M&oacute;viles SIDSMOVIL y FabLab</span>
                <span>Director Maestr&iacute;a Virtual en TIC aplicadas a la educaci&oacute;n</span>
                <span>Investigador Reconocido</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/carlos-pardo.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000192139" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?hl=es&user=_pHLqowAAAAJ" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Carlos-Pardo-Garcia-2" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0002-6804-0987" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Carlos Eduardo Pardo, Ph.D.</h4>
                <span>Investigador Junior</span>
                <span>Director Semillero Seguridad SIENSI - Academia CISCO y AWS</span>
                <span>Investigador Junior</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/nelson-beltran.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000186864" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?hl=es&user=m12QvIcAAAAJ" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Nelson_Beltran6" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href=""><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nelson Beltran Galviz, Ph.D. (c)</h4>
                <span>Director Semillero DataScience</span>
                <span>Investigador Reconocido</span>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/milton-vera.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000409871" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?hl=es&user=cG1reJwAAAAJ" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Milton-Vera-Contreras" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0002-0707-2096" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Milton Jesús Vera Contreras, M.Sc.</h4>
                <span>Director Semillero SILUX, Coach Programaci&oacute;n Competitiva - Cloud Computing Leader</span>
                <span>Investigador Reconocido</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'assets/img/team/fredy-vera-r.jpg' %}" class="img-fluid" alt="" height="500">
                <div class="social">
                  <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001045369" target="_blank"><i><img src="{% static 'img/cvlac.png' %}" class="img-fluid" alt="CvLAC"></i></a>
                  <a href="https://scholar.google.com.co/citations?user=AhN7EsAAAAAJ&hl=es" target="_blank"><i><img src="{% static 'img/scholar.png' %}" class="img-fluid" alt="Google Scholar"></i></a>
                  <a href="https://www.researchgate.net/profile/Fredy-Vera-Rivera" target="_blank"><img src="{% static 'img/researchgate.png' %}" class="img-fluid" alt="Researchgate"></a>
                  <a href="https://orcid.org/0000-0003-4003-497X" target="_blank"><img src="{% static 'img/orcid.png' %}" class="img-fluid" alt="Orcid"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Fredy H. Vera Rivera, Ph.D.</h4>
                <span>Director del grupo GIA</span>
                <span>Investigador Junior</span>
              </div>
            </div>
          </div>

          

        </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

  {% endblock %}